*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card_container{
    border: 2px solid red;
    position: relative;
    top: 0;
}

.card{
    height: 300px;
    width: 300px;
    border: 2px solid green;
    position: absolute;
}

.card img{
    position: absolute;
    width: 100px;
    height: 100px;
}