*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6epnd0KtuwAaygjj-Ls7D5RjgwV_ijX_qUQ&s');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.todobox{
    border: 2px solid red;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    left:0;
}